@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backend</title>
</head>
<body>
    <div>
        @if (@ViewBag.model == null)
        {
            <h1>Upload a picture first</h1>
        }
        else
        {
            <h1>The last picture uploaded</h1>
            <h2>Max size : 100px</h2>
            <img src="http://localhost:50502/api/@ViewBag.url/getPhotoUsingResizer/@ViewBag.model.Id/100" />
            <h2>Max size : 200px</h2>
            <img src="http://localhost:50502/api/@ViewBag.url/getPhotoUsingResizer/@ViewBag.model.Id/200" />
            <h2>Original size</h2>
            <img src="http://localhost:50502/api/@ViewBag.url/getPhoto/@ViewBag.model.Id" />
        }
    </div>
</body>
</html>
