@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backend</title>
</head>
<body>
    <div>
        <h1>I'm a backend tiger!</h1> 
        <img src="http://localhost:50502/api/photosWithDatabaseStorageStrategy?id=1" height="300" />

        <h2>
            
        </h2>
    </div>
</body>
</html>
